<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Calvin Nguyen</title>
    <meta name="description" content="Calvin's Personal Page" />
    <meta name="author" content="Calvin Nguyen" />

    <!-- Mobile Specific Metas –-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Skeleton CSS –-->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/skeleton.css" />

    <!-- Font Awesome CSS –-->
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />

    <!-- Custom CSS –-->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" media="(max-width: 550px)" href="css/mobile.css" />

    <!-- Google fonts -->
    <link rel="stylesheet" href="css/fonts.css" />

    <!-- Favicon –-->
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <!-- Google analytics –-->
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-75134262-1', 'auto');
      ga('send', 'pageview');
      ga('set', 'userId', {
        {
          USER_ID
        }
      }); // Set the user ID using signed-in user_id.
    </script>

    <!-- Google recaptcha –-->
    <script src="//www.google.com/recaptcha/api.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="one-half column header-logo">
            <h3>Calvin Nguyen</h3>
          </div>
          <!-- first column -->

          <div class="one-half column header-links">
            <nav>
              <a href="" class="item"> <i class="fa fa-home"></i> Home </a>
              <a
                href="https://drive.google.com/open?id=1NfFE-sDwlDNbei7ud4AuH6RdXkdCvzqo"
                class="item"
              >
                <i class="fa fa-rss"></i> Resume
              </a>
              <a href="/projects" class="item">
                <i class="fa fa-rss"></i> Projects
              </a>
              <!-- <a href="/personal" class="item">
                <i class="fa fa-university"></i> My Life
              </a> -->
            </nav>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </header>

    <div id="content">
      <section class="white">
        <div class="container">
          <div class="row">
            <div class="four columns photo">
              <img
                src="images/profile.jpg"
                class="u-max-full-width"
                alt="Jose - classic smirk photo"
              />
              <!-- <img src="images/smirk-chrome.jpg" class="u-max-full-width overlay"
                alt="Jose - Chrome Photo" /> -->
            </div>

            <div class="eight columns">
              <article id="whoami">
                <!-- <h4>const name = "Calvin";</h4> -->
                <div id="typed-strings">
                  <p>Typed.js is a <strong>JavaScript</strong> library.</p>
                  <p>It <em>types</em> out sentences.</p>
                </div>
                <!-- <span id="element"></span> -->
                <h4>
                  <button onclick="typeWriter()">Click me</button>
                </h4>
                <p id="demo"></p>
                <!-- <p>
                  I'm a self-motivated Undergraduate Senior, majoring in
                  Software Engineering at San Jose State University, and I will
                  graduate in December 2020. I have strong experience in both
                  web & mobile (Android, iOS) platforms, focusing on full-stack
                  web development. Currently, I'm seeking a Summer 2020
                  Internship and willing to learn and explore new technologies.
                  I'm currently learning React.js and Tensorflow to get into the
                  AI field quickly depends on the team and projects need.
                </p> -->
              </article>
            </div>
          </div>

          <div class="row">
            <article>
              <h5>More about my work.</h5>
              <br />
              <div class="personal-items" id="personal_items">
                <div class="row">
                  <div class="one column item-icon">
                    <i class="fa fa-file-text-o fa-2x"></i>
                  </div>
                  <div class="eleven columns item-text">
                    <a
                      href="https://drive.google.com/open?id=1NfFE-sDwlDNbei7ud4AuH6RdXkdCvzqo"
                    >
                      Resume // pdf</a
                    >
                    <p>
                      I've interned at PayPal Inc. twice &mdash; both with the
                      same team Hardware + Labs in San Jose, CA. In Summer 2018,
                      I worked closely with the Director, People Engagement Lead
                      of HQ, and a team of a senior engineer (my mentor) and a
                      Dev-ops Engineer to build an event management app on
                      campus to improve the engagement of PayPal employees with
                      different events. Last summer, my team worked on
                      integrating mPOS devices to PayPal Here app, and need to
                      find a solution to communicate with the mPOS terminals
                      through Android and iOS. I took a chance to become a
                      pioneer of the team to quickly learn and develop an
                      Android (Java) & iOS (Swift). If you'd like to get in
                      touch, email me at
                      <a href="mailto:calvin.nvqc@gmail.com"
                        >calvin.nvqc@gmail.com</a
                      >.
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="row">
            <article>
              <h5>Connect & learn more about me // calvin.nvqc</h5>
              <br />
              <div class="personal-items" id="personal_items">
                <div class="row">
                  <div class="one column item-icon">
                    <i class="fa fa-github fa-2x"></i>
                  </div>
                  <div class="eleven columns item-text">
                    <a href="https://github.com/calvinqc">GitHub</a>
                    <p>
                      Most of projects are private repos, and I like to work
                      with stealth-mode startup. Beside that, I pushed anything
                      from school and personal projects on here.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="one column item-icon">
                    <i class="fa fa-linkedin-square fa-2x"></i>
                  </div>
                  <div class="eleven columns item-text">
                    <a href="https://www.linkedin.com/in/calvinqc/">LinkedIn</a>
                    <p>
                      My professional profile. A place where I receive and
                      communicate with all my co-workers.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="one column item-icon">
                    <i class="fa fa-facebook-square fa-2x"></i>
                  </div>
                  <div class="eleven columns item-text">
                    <a href="https://www.facebook.com/calvin.nvqc">Facebook</a>
                    <p>
                      I share things about the world, fun videos, stories, and
                      news around the world.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="one column item-icon">
                    <i class="fa fa-instagram fa-2x"></i>
                  </div>
                  <div class="eleven columns item-text">
                    <a href="https://www.instagram.com/calvin.qc/">Instagram</a>
                    <p>
                      I post pictures about my personal life including myself,
                      my habits, and people around me.
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section id="bye" class="gray">
        <div class="container">
          <div class="row">
            <h4>Presented by QC!</h4>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="container" alt="This website was made with love. <3">
        <i class="fa fa-hand-peace-o"></i>
      </div>
    </footer>
    <script>
      $('document').ready(() => {
        var typed = new Typed('#demo', {
          // stringsElement: `#typed-strings`,
          strings: [
            'git push --force ^1000\n `pushed to origin with option force`',
            'hello'
          ],
          backSpeed: 40,
          typeSpeed: 40
        });
      });
      i = 0;
      var txt =
        "Hello, I'm a self-motivated Undergraduate Senior, majoring in Software Engineering at San Jose State University, and I will graduate in December 2020. I have strong experience in both web & mobile (Android, iOS) platforms, focusing on full-stack web development. Currently, I'm seeking a Summer 2020 Internship and willing to learn and explore new technologies. I'm currently learning React.js and Tensorflow to get into the AI field quickly depends on the team and projects need.";
      var speed = 10;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById('demo').innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>
  </body>
</html>
